node_modules/
dist/
release/
.env
*.log
.DS_Store
ios/StoryTrackerExtension/Resources/*
!ios/StoryTrackerExtension/Resources/.gitkeep
ios/*.xcodeproj
ios/*.xcworkspace
ios/DerivedData/
ios/build/
secrets/ios-release.env
secrets/*.p12
secrets/*.mobileprovision
secrets/*.p8
secrets/*.p8
secrets/GoogleService-Info.plist
*.tsbuildinfo
